{% extends 'base.html.twig' %}

{% block title %}Редактирование компании{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h2>{{ company.name }}</h2>
    </div>
{% endblock %}
